footer(class="bg-light text-center")
    div(class="container p-4")
                section(class="footer-text")
                    p(class="h3") Follow Us
                    p(class="text-2") 3045 10 Sunrize Avenue, 123-456-7890
                        br
                        | Mon – Fri: 9:00 am – 8:00 pm, 
                        br 
                        | Sat – Sun: 9:00 am – 10 pm 
                        br 
                        | contacts@esbnyc.com
                section(class="mb-4")
                    a(class="btn btn-primary btn-floating m-1" style="color: #d9b5ad" href="#!" role="button") <i class="fab fa-facebook-f"></i>
                    a(class="btn btn-primary btn-floating m-1" style="color: #d9b5ad; font-size = 20px; padding-left: 20px;" href="#!" role="button") <i class="fab fa-instagram"></i>
                    a(class="btn btn-primary btn-floating m-1" style="color: #d9b5ad; font-size = 20px; padding-left: 20px;" href="#!" role="button") <i class="fab fa-linkedin-in"></i>

script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')
script(src='/js/nav.js')
script(src='/js/card.js')
