div(class='container full-width')
  div(class='row nav_site')
    div(class='col col-sm-5')
      button(class="show-nav") <i class="fas fa-bars"></i>
    div(class='col col-sm-offset-2')
      a(href='/')
        h1 ZINA